<div id="container">

  <h1>Stupid Coaching</h1>
  <h3>"<%= @your_message %>"</h3>
  <h4>- Your question</h4>
  <h3>"<%= @answer %>"</h3>
  <h4>- Your coach</h4>
  <%= link_to 'Ask another question', '/ask' %>

</div>

